<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Helpdesk</mat-card-title>
      <mat-card-subtitle>Sistema gerenciador de chamados</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/monitor.svg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Olá! Seja bem vindo ao sistema helpdesk desenvolvido por mim no curso Desenvolvedor FullStack. <br>
        Esse é um sistema para gerenciamento de chamados simulando um simples Help Desk desenvolvido em Angular e Spring Boot. <br>
        O sistema está rodando na nuvem sendo o front na Vercel e o back na Heroku. <br>
        O Projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização com Spring Security e muito mais.
        O Código fonte do projeto pode ser acessado através do link do Github no menu lateral. <br><br>

        Fique a vontade para testar o sistema e deixar sua sugestão. <br>
        Atenciosamente, Matheus Brito Biserra.
      </p>
    </mat-card-content>
   
  </mat-card>
